.library {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #0a0b0d;
}

.library-card {
  transition: 0.2s;
  height: 95%;
}
.library-card:hover {
  background-color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
}
.library-img {
  height: 60%;
}
.library-title:hover {
  color: #0052ff;
  cursor: pointer;
}
.library-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
.library-driscription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b616e;
}
